<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <%- include('../includes/navigation') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(cartProducts => { %> 
                        <li class="cart__item">
                            <h1><%= cartProducts.productId.title %></h1>
                            <h2>Quantity: <%= cartProducts.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= cartProducts.productId._id %>">
                                <button type="submit" class="btn danger">
                                    Delete
                                </button>
                                <input type="hidden" name="_csrf" value="<%= csrfToken  %>" /> 
                            </form>
                        </li>
                    <% }) %> 
                </ul>
                <hr>
                <div class="centered">
                    <a href="/checkout" class="btn">Order Now</a>
                </div>
            <% } else { %>
                <h1>No products found</h1>
            <% } %>   
        </main>
        <%- include('../includes/end')  %> 