<%- include('../includes/head') %>
</head>
<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(cartProducts => { %> 
                    <li>
                        <p>
                            <%= cartProducts.productData.title %> (<%= cartProducts.quantity %>)
                        </p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= cartProducts.productData.id %>">
                            <button type="submit" class="btn">
                                Delete
                            </button>
                        </form>
                    </li>
                <% }) %> 
            </ul>
        <% } else { %>
            <h1>No products found</h1>
        <% } %>   
    </main>
    <%- include('../includes/end')  %> 